* {
    margin: o;
    padding: 0;
}


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    z-index: -1;
}

header .overlay{
background-color: rgba(255, 255, 255, 0.7);
}

header .brand {
    padding-top: 40px;
}

header .overlay h1 {
    font-size: 36px;
    line-height: 32px;
    color: #555555;
    margin-bottom: 40px;
}

header .overlay p {
    font-size:18px ;
    line-height: 32px;
    margin-bottom: 50px;
    color: #5d5d5d;
}

header .header-text{
    padding-top: 190px;
}

header .header-buttom a{
    color: #fff;
    background-color: #7936b2;
    padding: 22px 55px;
    margin-right: 15px;
}

header .product .product-img img {
    width: 100%;
}

header .header-buttom a.btn:last-child{
    background: transparent;
    color: #7936b2;
}

header .product {
    position: relative;
    margin-bottom: 30px;

}

header .product .product-label img {
    position: absolute;
    top: -50px;
    left: -50px;

}

header .product .product-label p {
    position: absolute;
    top: -20px;
    left: 8px;
    color: #fff;
    text-align: center;
    font-size: 30px;
}

header .product .product-label span{
    display: block;
}


section.features{
background-color: #fff;
padding: 70px 0px;
}

section.features h2 {
    color: #555;
    font-size: 36px;
    line-height: 32px;
    padding-bottom: 45px;
    position: relative;
}
section.features h2::after{
    content: "";
    width: 150px;
    height: 2px;
    background-color: #7936b2;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

section.features .media-features .d-flex{
    padding: 70px 0px;
    border-bottom: 3px solid #eeeeee;
}

section.features .media-features .d-flex:nth-child(2){
    direction: rtl;
}

section.features .media-features .d-flex img {
    padding: 0px 70px;
}

section.features .media-features .d-flex h4{
    color: #7936b2;
    font-size: 36px;
    font-weight: bold;
    padding: 0px 25px;
    border-left: 3px solid #7936b2;
    margin-bottom: 50px;
}

section.features .media-features .d-flex:nth-child(2) h4 {
    border-left: 0px;
    border-right: 3px solid #7936b2;
}

section.features .media-features .d-flex p{
    font-size: 18px;
    color: #555555;
    line-height: 32px;
}

section.prices{
    padding: 50px 0 60px;
    background-color: #f7f7f7;
}

section.prices-text h2 {
    font-size: 30px;
    color: #555555;
}

section.prices .plan-card {
    background-color: #fff;
    padding: 15px 0px;
    margin-top: 100px;
    border: 2px solid #ededed;
    color: #a9a9ab;
}

section.prices .plan-card .title {
    color: #a044ff;
    font-size: 18px;
}
section.prices .plan-card h5{
    font-size: 48px;
    margin: 30px auto;
}
section.prices .plan-card h5 span{
    font-size: 15px;
    vertical-align: bottom;
}
section.prices .plan-card ul{
padding: 0px;
}

section.prices .plan-card ul li {
    list-style: none;
    font-size: 15px;
    margin-bottom: 30px;
}
section.prices .plan-card a.btn{
    border: 2px solid #7233a2;
    background-color: #fff;
    color: #7233a2;
    padding: 10px 40px;
    border-radius: 0px;
}
section.prices .col-md-6:nth-child(3) .plan-card{
    padding-top: 60px;
    margin-top: 55px;
}
section.prices .col-md-6:nth-child(3) .plan-card a.btn{
    background-color: #7233a2;
    color: #fff;
}
section.prices .plan-card a.btn:hover{
    background-color: #7233a2;
    color: #fff;
    transition: .5s all ease;
}
section.faq {
    background-color: #fff;
    -webkit-padding-start: 55px 0px;
}

section.faq .faq-title h2 {
    font-size: 30px;
    color: #555;
    margin-bottom: 55px;
}

section.faq .accordion .accordion-item{
    margin-bottom: 15px;
    border: 1px solid #ebebeb;
    border-radius: 0px;
}

section.faq .accordion .accordion-item button{
    font-size: 18px;
    color: #555;
    font-weight: bold;
}

section.faq .accordion .accordion-item .accordion-body {
    font-size: 15px;
    color: #c9c9c9;
    line-height: 24px;
}

section.video {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

section.video video {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

section.video .overlay{
    background-color: rgba(130 , 77 ,178 , .9);
    min-height: 100%;
    position: absolute;
    inset: 0;
}

section.video .overlay button{
    position: absolute;
    top: 50%;
    right: 50%;
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    border: 0;
    transform: translate(50%,50%);
}

section.video .overlay button i{
    display: block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 auto 45px;
}
section.contact {
    padding: 60px 0 40px;
    background-color: #131313;
}
section.contact h4 {
    font-size: 18px;
    line-height: 50px;
    color: #758594;
}

section.contact form input,
section.contact form textarea {
    display: block;
    margin-bottom: 10px;
    background-color: #242424;
    font-size: 18px;
    line-height: 35px;
    color: #aeadad ;
    border: none;
    text-align: left;
    width: 90%;
}

section.contact form button{
    font-size: 18px;
    padding: 10px 20px;
    background-color: #a044ff;
    color: #fff;
    border: none;
    border-radius: 3px;
}

section.contact form .invalid-feedback{
    margin-top: -15px;
    margin-bottom: 15PX;
}

section.contact .blog a.blog-link {
    text-decoration: none;
}
section.contact .blog .d-flex{
    margin-bottom: 25px;
}

section.contact .blog h5{
    font-size: 18px;
    color: #a9a9ab;
    margin-bottom: 15px;

}

section.contact .blog p { 
    font-size: 15px;
    line-height: 20px;
    color: #737373;
}

footer{
    background-color: #1d1d1d;
    padding: 25px 0px;
}

footer .list-inline .list-inline-item a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #1d1d1d;
    border-radius: 50%;
    background-color: #758594;
    text-align: center;
    display: block;
    transition: .5s all ease;
}

footer .list-inline .list-inline-item a:hover{
    background-color: #1479ec;
}

footer .copyright p {
    font-size: 15px;
    color: #919191;
    text-align: right;
}

@media ( max-width:992px) {
    header .header-text {
        padding-top: 80px;
    }
}

@media (max-width:768px){
    header .overlay .product{
        margin-top: 100px;
    }
    header .overlay .product .product-label img{
        right: 50%;
        transform: translateX(50%);
    }

    header .overlay .product .product-label p{
        right: 50%;
        transform: translateX(50%);
    }
    section.features .media-features .d-flex{
        flex-flow: column;
        text-align: center;
    }
    section.features .media-features .d-flex img {
        margin: 0 auto 50px;
    }
    section.features .media-features .d-flex h4 {
        border: none !important;
    }
    section.contact h4 {
        margin-top: 25px;
    }
}

@media (max-width:576px) {
    footer {
        text-align: center;
    }
    footer .copyright p{
        text-align: center;
    }
}